.imageContainer{
    height: 300px;
    width: 95%;
    background-color: white;
    border: solid lightblue;
    overflow: auto;
}
.translation-header{
    height: 382px;
    background-color: rgb(170, 199, 238);
}